.servicios1 {
    background-image: url(images/catering.jpg);
    height: 100vh;
    width: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .tituloServicios {
    font-size: 2.5em;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: rgb(1, 5, 5);
    text-shadow: rgb(243, 247, 247) 0 2px;
    padding: 20px;
    letter-spacing: 2px;
  }
  
  .events {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: rgb(3, 36, 36);
  }
  
  .eventos1 {
    background-color: rgba(255, 255, 255, 0.75);
    height: 300px;
    width: 40%;
    text-align: left;
    margin-top: 6%;
    padding: 2% 2%;
  }
  
  .eventos1 p {
    line-height: 25px;
  }
  
  .eventos1 ul {
    list-style: none;
    line-height: 30px;
    margin-top: 15px;
  }
  
  .eventosTitulo {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: rgb(61, 82, 77) 0 1px;
    margin: 20px auto;
  }
  
  .enlaceCarta {
    margin: 50px auto;
    text-align: left;
    font-weight: bold;
    font-size: 22px;
    color: rgb(3, 14, 14);
    text-shadow: rgb(243, 247, 247) 0 1px;
    background-color: rgba(255, 255, 255, 0.75);
    display: inline;
    display: flex;
    justify-content: center;
    width: 630px;
  }
  
  .accesoCarta {
    font-weight: bold;
    text-decoration: none;
    color: rgb(26, 48, 48);
    text-shadow: rgb(3, 14, 14) 0 1px;
    transition: all 0.5s ease-out;
  }
  
  .accesoCarta:hover {
    color: rgb(11, 22, 22);
    transform: scale(1.2);
  }
  

  .armadoEvento {
    color: rgb(61, 82, 77);
    padding: 30px;
    margin-bottom: 30px; 
    .armado {
        font-size: 2.5em;
    text-align: center;
    color: rgb(61, 82, 77);
    text-shadow: rgb(33, 49, 49) 0 2px;
    font-family: "Oswald", sans-serif;
    padding: 40px;
    letter-spacing: 2px;
    }
}

.card {
    border: 2px solid rgba(0, 0, 0, 0.125) !important;
    border-radius: 3px;
    margin: 20px auto;
    height: 280px;
    width: 200px;
    box-shadow: 3px -3px 5px 0px #DFE5C0;
    .card-img-top {
        height: 80px;
        padding: 10px 55px;
      }
  }