.whatsapp {
    max-height: 50px;
    max-width: auto;
    position: fixed;
    right: 0;
    bottom: 200px;
    transition: all 0.3s ease-in-out;
  }
  
  .whatsapp:hover {
    transform: translateX(-20px);
  }
  
  .logoInstagram {
    max-height: 50px;
    max-width: auto;
    transition: all 0.3s ease;
  }
  
  .logoYoutube {
    max-height: 50px;
    max-width: auto;
    margin: auto 20px;
    transition: all 0.3s ease;
  }
  
  .logoFacebook {
    max-height: 50px;
    max-width: auto;
    transition: all 0.3s ease;
  }
  
  .logoYoutube:hover,
  .logoInstagram:hover,
  .logoFacebook:hover {
    transform: translateY(-10px);
  }
